<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <div class="grid md:flex flex-row gap-5 max-w-2xl mx-auto my-8 text-[20px]">
            <h1
              class="font-display text-[#111] w-full md:basis-1/2 text-3xl font-extrabold mb-5 font-actu"
            >
              Um <i>data center</i> consome mais energia que muita, muita
              gente...
            </h1>
            <p class="w-full md:basis-1/2 shrink-0 text-pretty">
              Como o consumo residencial médio diário de um brasileiro foi de 2,27 kWh em 2024, segundo dados do Anuário Estatístico de Energia Elétrica, da Empresa de Pesquisa Energética, a EPE, isso significa que o data center terá um gasto equivalente ao consumo residencial de mais de dois milhões de pessoas. 
            </p>
          </div>
        <script src="https://unpkg.com/lodash@4.17.21/lodash.min.js"></script>
        <script src="
https://cdn.jsdelivr.net/npm/slugify@1.6.6/slugify.min.js
"></script>
        <script src="https://raw.githack.com/viniciusofp/datacenter-municipios-intercept/refs/heads/main/data.js"></script>
        <link href="./style.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
          rel="stylesheet"
        />

        <script type="module">
          import { createApp } from 'https://unpkg.com/petite-vue?module';
        const parsedMunicipios = municipios.map(m => ({
              id: m[0],
              nome: m[1],
              uf: m[2],
              populacao: m[3]
            }))
          createApp({
            municipiosData: parsedMunicipios,
            filteredMunicipios: _.orderBy(parsedMunicipios, ['populacao'], ['desc']),
            showList: true,
            input: '',
            selectedMunicipio: null,
            update: _.debounce(function (e) {
              if (e.target.value) {
                this.filterMunicipios(e.target.value);
              } else {
                this.filteredMunicipios = _.orderBy(parsedMunicipios, ['populacao'], ['desc']);
              }
              this.input = e.target.value;
              this.scrollListToTop()
            }, 100),
            scrollListToTop() {
              let el = document.getElementById('municipiosList');
              el.scrollTop = 0
            },
            filterMunicipios(value) {
                const filter = this.municipiosData.filter((mun) => {

                return (slugify(mun.nome, { lower: true, replacement: '' }) +  slugify(mun.uf, { lower: true, replacement: '' })).includes(
                  slugify(value, { lower: true, replacement: '' })
                );
              });
              this.filteredMunicipios = _.orderBy(filter, ['populacao'], ['desc'])
            },
            formatNumber(value) {
              if (parseInt(value) >= 1e6) {
                return `${Math.floor(parseInt(value) / 1e6)} ${Math.floor(parseInt(value) / 1e6) > 1 ? 'milhões' : 'milhão'} e ${Math.floor(parseInt(value % 1e6) / 1e3)} mil`
              }
              if (parseInt(value) > 1e3) {
                return (parseInt(value) / 1e3).toFixed(0) + ' mil'
              }
              return parseInt(value).toLocaleString()
            },
            setShowList: function () {
              this.showList = true;
              
            },
            selectMunicipio(value) {
              this.input = `${value.nome} - ${value.uf}`;
              this.selectedMunicipio = value;
              this.showList = false
            },
            posicaoMunicipio(mun) {
              let posicao = _.indexOf(_.orderBy(this.municipiosData, ['populacao'], ['desc']), mun)
              if (posicao <= 19) {
                return `é a ${ordinais[posicao]} cidade com maior população no Brasil`
              } 
              
              let posicaoNoEstado = _.indexOf(_.orderBy(this.municipiosData.filter(m => m.uf === mun.uf), ['populacao'], ['desc']), mun)
              if (posicaoNoEstado <= 9) {
                return `é a ${ordinais[posicaoNoEstado]} cidade com maior população do estado ${ufs[mun.uf][1]} ${ufs[mun.uf][0]}`
              }
              return `é considerada uma cidade ${parseInt(this.selectedMunicipio.populacao) > 499999 ? 'grande' : parseInt(this.selectedMunicipio.populacao) > 99999 ? 'média' : 'pequena'}`
                
              },
              proporcao() {
                const ratio = consumoAnualDC /(ufs[this.selectedMunicipio.uf][2] * this.selectedMunicipio.populacao)
                const totalDays = Math.round(360 * ratio)
                const yearsSpent =  Math.floor(totalDays / 360)
                const monthsSpent = Math.floor((totalDays % 360) / 30)
                const daysSpent = (totalDays % 30)
                return  `${yearsSpent} anos ${monthsSpent} meses ${daysSpent} dias `
              },
              totalEstado(mun) {
                return this.formatNumber(_.sum(this.municipiosData.filter(m => m.uf === mun.uf).map(m => m.populacao)))
              }
          }).mount('#dataviz');
        </script>

        <div id="dataviz" class="border-8 border-[#6653ff]  max-w-2xl mx-auto my-8 px-6 py-10 text-[20px]">
          
          <p class="mb-4 font-bold text-2xl md:text-3xl font-actu text-[#6653ff]"">Quanto tempo sua cidade levaria para consumir a energia que o data center do TikTok consome em um ano??</p>
          <p class="mb-5">Insira uma cidade na busca abaixo e confira.</p>
          <div class="relative">
            <svg data-v-3bab6120="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search search-icon opacity-50 absolute left-3 top-5 w-6 h-6"><path d="m21 21-4.34-4.34"></path><circle cx="11" cy="11" r="8"></circle></svg>
            <input
              type="text"
              class="border border-[#111] h-16 px-3 pl-12 flex items-center w-full leading-0 font-actu-mono text-base focus:ring-black focus:outline-[#6653ff]"
              :value="input"
              @input="update"
              @focus="setShowList"
              placeholder="Digite o nome da sua cidade"
            />

            <ul
              v-if="showList && filteredMunicipios !== null"
              id="municipiosList"
              class="bg-white border border-[#111] border-t-0 shadow-md sm:shadow-lg max-h-32 lg:max-h-42 w-full overflow-y-auto left-0"
            >
              <li
                v-for="item in filteredMunicipios.slice(0,50)"
                :key="item.id"
                class="hover:bg-neutral-200 py-1.5 px-3 cursor-pointer tracking-wide duration-150 text-sm font-actu-mono"
                @click="selectMunicipio(item)"
                :class="{'text-[#6653ff]': selectedMunicipio.id === item.id}"
              >
                {{ item.nome }} - {{item.uf}}
              </li>
            </ul>
          </div>
          <article v-if="selectedMunicipio !== null" class="mt-16">
            <h2 class="font-bold font-actu text-[#111] text-2xl lg:text-3xl mb-3 lg:mb-5 flex items-center gap-4"><span class="h-[24px] w-[70px] bg-[#111]"></span><span>{{selectedMunicipio.nome}} <span class="font-normal">- {{ufs[selectedMunicipio.uf][0]}}</span></span></h2>
            <p class="mb-3">Tem uma população de <strong>{{formatNumber(selectedMunicipio.populacao)}}</strong> pessoas e {{posicaoMunicipio(selectedMunicipio)}}.</p>
            <p class="mb-3">O que o data center do TikTok vai consumir em um ano, {{selectedMunicipio.nome}} gasta em</p>
            <p class="font-bold font-actu text=[#111] text-2xl">{{proporcao()}}</p>
            <!-- <p v-if="selectedMunicipio.uf !== 'DF'" class="my-3 text-sm">A populaçao do estado {{ufs[selectedMunicipio.uf][1]}} {{ufs[selectedMunicipio.uf][0]}} é de {{totalEstado(selectedMunicipio)}} pessoas.</p> -->

          </article>
        </div>

        <style>
          /* Colar aqui os estilos */
        </style>
      </div>
  </body>
</html>
