@import 'tailwindcss';

@font-face {
  font-family: 'TI Actu';
  font-weight: 600;
  font-style: normal;
  src: url('./font/TIActuBeta-Bold.woff');
}
@font-face {
  font-family: 'TI Actu';
  font-weight: 800;
  font-style: normal;
  src: url('./font/TIActuBeta-ExBold.woff');
}
@font-face {
  font-family: 'TI Actu Mono';
  font-weight: 400;
  font-style: normal;
  src: url('./font/TIActuBetaMono-Regular.woff');
}

#dataviz {
  font-family: 'Newsreader', Arial, Georgia, serif;
  line-height: 1.545454;
  color: rgb(51, 51, 51);
}

.font-actu {
  font-family: 'TI Actu';
}
.font-actu-mono {
  font-family: 'TI Actu Mono';
}

.newsreader-light {
  font-family: Newsreader, Georgia, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
